.header_1 {
	display: flex;
	justify-content: space-between;
}

.header_1 .links {
	align-items: center;
}

.header_1 nav { 
	display: flex;
	flex-direction: row;
}

.header_1 .links a{
	margin: 0px 10px;
}