landing text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 0px;
	gap: 15px;
}

landing div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.landing {
	background-image: url("../page-1-background.svg");
	background-repeat: no-repeat;
  	background-size: cover;
}